body {
    padding: 0;
    margin: 0;
}

h1 {
    color: red;
    text-align: center;
}

#big-flexbox {
    display: flex;
    justify-content: space-evenly;
}

#tool-flexbox {
    display: flex;
    flex-direction: column;
}

#save-flexbox {
    display: flex;
    flex-direction: column;
}

#canvas{
    border: 1px black solid;
    height: 400px;
    width: 800px;
}

.save-square, .tool-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}