:root {
    /* declaring CSS variables */
    --lightblue: #b5d9ff;
    --header-blue: #0e7ef5;
    --border-blue: #c1f7ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(var(--lightblue), #ffffff);
    height: 100vh;
}

h1 {
    color: var(--header-blue);
    font-family: "Broadway", sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#big-flexbox {
    display: flex;
    justify-content: space-evenly;
}

#tool-flexbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#save-flexbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#canvas{
    height: 400px;
    width: 800px;
    background-color: white;
    border: 1px var(--border-blue) solid;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.save-square-flexbox, .tool-square-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 1px solid var(--border-blue);
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* horizontal offset, vertical offset, blur radius, shadow color*/
}

.save-square-flexbox:hover, .tool-square-flexbox:hover {
    background-color:aliceblue;
}

.tool-square-flexbox > img, .save-square-flexbox > img {
    height: 70%; /* make it relative to its parent, the .tool-square-flexbox*/
    width: auto;
}

#toolsize-square > input {
    width: 90%;
}

#color-suggestions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.suggested-color {
    height: 30px;
    width: 100px;
}

#color-suggestions-flexbox > div:first-child {

    background-color: red;
}

h3 {
    visibility: fixed;
    top: 0;
    left: 0;
}
